@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

body {
  background-color: #f7f7ff;
  font-family: "Open Sans", sans-serif;
}

.header {
  background-color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  gap: 35px;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin-top: 15px;
  margin-right: 80px;
  padding: 0;
  height: 60px;
  color: #68707c;
}

.nav-list li {
  color: #68707c;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.nav-list li:hover {
  color: #646bed;
}

.btn-trial {
  color: #646bed;
  background-color: #fff;
  border: 2px solid #646bed;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: 700;
  font-size: 13px;
  cursor: pointer;
}

.btn-trial:hover {
  background-color: #646bed;
  color: #fff;
}

.top-bread {
  display: flex;
  font-size: 16px;
  gap: 10px;
  color: #68707c;
}

.top-bread-loc {
  color: #100841;
}

.rating {
  margin-bottom: 15px;
}

.cover-name {
  color: #100841;
}

.cover-desc {
  color: #68707c;
  font-size: 14px;
}

.main {
  display: flex;
}

.main-left {
  width: 32%;
  margin-left: 80px;
}

.main-left-1 {
  background-color: #fff;
  margin-top: 10px;
  margin-left: 40px;
  padding: 15px;
  width: 64%;
}

.main-left-2 {
  display: flex;
  background-color: #fff;
  width: 66%;
  margin-left: 40px;
  margin-top: 25px;
  padding-top: 10px;
  padding: 10px;
}

.people-1 {
  margin-top: -10px;
}

.book {
  margin-left: 10px;
}

.courses {
  margin-left: 5px;
}

.courses-1 {
  margin-top: -10px;
}

.people {
  margin-left: 5px;
}

.main-right-1 {
  margin-top: 50px;
  margin-right: 10px;
  width: 68%;
}

.main-right-1 div h2 {
  color: #100841;
  font-size: 34px;
  font-weight: 700;
}

.main-right-1 div p {
  color: #68707c;
  font-size: 14px;
}

.main-right-2 {
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto auto;
  margin-right: 10px;
}

.main-right-2 > div {
  background-color: #fff;
}

.box-cate {
  padding: 8px;
  background-color: #c1c4f9;
  color: #100841;
}

.desc {
  margin-top: 10px;
  display: flex;
  gap: 80px;
  justify-content: space-around;
}

.desc div img {
  margin-top: 10px;
}

.title {
  margin: 10px 10px 0px 10px;
}

.detail {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.detail-2 {
  display: flex;
  justify-content: center;
  gap: 120px;
}

.prices {
  display: flex;
  gap: 5px;
}

.dis_price {
  text-decoration: line-through;
}

.newsletter {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  height: 320px;
  z-index: -1;
  margin-bottom: -120px;
}

.newsletter .container {
  background-color: #fff;
  width: 50%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
} 

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-title {
  text-transform: uppercase;
  color: #68707c;
}

.content-desc {
  color: #100841;
  font-size: 35px;
  margin-top: -10px;
}

.content-tagline {
  color: #68707c;
  font-weight: 500;
  margin-top: -12px;
  margin-bottom: 30px;
  font-size: 15px;
}

.email-input {
  padding: 15px 80px 15px 6px;
  border: 1px solid #68707c;
  border-radius: 7px;
}

.news-btn {
  background-color: #100841;
  color: white;
  padding: 12px 38px;
  margin-left: 10px;
  border-radius: 7px;
}

.footer {
  background-color: #100841;
  height: 400px;
}

@media (max-width: 767px) {
  .nav-list { 
    display: none;
  }
  .main {
    display: flex;
    flex-direction: column;
  }
}
